body {
    background-color: rgb(175, 175, 191);
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 100px;
}
/*The Office Items*/
#rock {
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    top: 250px;
    left: 350px;
    background-color: beige;
}

#paper {
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    top: 250px;
    left: 540px;
    background-color: rgb(0, 255, 255);
}

#scissors {
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    top: 250px;
    left: 720px;
    background-color: darkolivegreen;
}
/*The Two Extra Items*/
#pencil {
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    top: 250px;
    left: 910px;
    background-color: rgb(201, 28, 28);
}

#telephone {
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    top: 250px;
    left: 1100px;
}
/*You*/
.Player {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 50px;
left: 550px;
top: 500px;
border-color: black;
}
/*Computer Player*/
.CPU {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    left: 960px;
    top: 500px;
}


#text {
    left: 100px;
}